{% form_theme form _self %}

{# Every field error is show in a separate container #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger mt-2">
                {% for error in errors %}
                    <div>{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}