{% extends '::layout.html.twig' %}

{% form_theme form 'AppBundle:Form:form_errors.html.twig' %}

{% block body %}
    <h3><span>{{ 'global.person_edit'|trans }}</span></h3>
    <div class="edit-person">
        {{ include('AppBundle:Person:form.html.twig', { 'person': person, 'form': form }) }}
    </div>
{% endblock %}
