{{ form_start(form) }}
<div class="person-form">
    <div class="form-group row">
        {{ form_label(form.lastName, null, { 'label_attr': { 'class': 'col-2 col-form-label' }}) }}
        <div class="col-10">
            {{ form_widget(form.lastName, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_errors(form.lastName) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.firstName, null, { 'label_attr': { 'class': 'col-2 col-form-label' }}) }}
        <div class="col-10">
            {{ form_widget(form.firstName, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_errors(form.firstName) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.place, null, { 'label_attr': { 'class': 'col-2 col-form-label' }}) }}
        <div class="col-10">
            {{ form_widget(form.place, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_errors(form.place) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.birthday, null, { 'label_attr': { 'class': 'col-2 col-form-label' }}) }}
        <div class="col-10">
            {{ form_widget(form.birthday, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_errors(form.birthday) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.company, null, { 'label_attr': { 'class': 'col-2 col-form-label' }}) }}
        <div class="col-10">
            {{ form_widget(form.company, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_errors(form.company) }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.branchCompany, null, { 'label_attr': { 'class': 'col-2 col-form-label' }}) }}
        <div class="col-10">
            {{ form_widget(form.branchCompany, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_errors(form.branchCompany) }}
        </div>
    </div>
</div>
{{ form_rest(form) }}
<div class="clearfix action-buttons">
    <a class="btn btn-secondary float-left" href="{{ path('people_list') }}">{{ 'global.cancel'|trans }}</a>
    <input type="submit" class="btn btn-primary float-right" href="{{ path('people_list') }}"
           value="{{ 'global.save'|trans }}"/>
</div>
{{ form_end(form) }}
