{% extends '::layout.html.twig' %}

{% block body %}
    <h3><span>{{ 'global.people_list'|trans }}</span></h3>
        <div class="people-list">
        {{ form_start(delete_form, {'action': path('person_delete'), 'method': 'DELETE'}) }}
        <div class="text-right">
            <a class="btn btn-success" href="{{ path('person_new') }}">{{ 'global.new'|trans }}</a>
        </div>
        <table class="table table-hover mt-3">
            <thead class="thead-inverse">
            <tr>
                <th>{{ 'person.last_name'|trans }}</th>
                <th>{{ 'person.first_name'|trans }}</th>
                <th>{{ 'person.place'|trans }}</th>
                <th>{{ 'person.age'|trans }}</th>
                <th>{{ 'person.sex'|trans }}</th>
                <th>{{ 'person.company'|trans }}</th>
                <th>{{ 'person.branch_company'|trans }}</th>
                <th>{{ 'global.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for person in pagination %}
                <tr>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.place }}</td>
                    <td>
                        {% if person.age is defined and person.age is not null %}
                            {{ 'person.age_human_readable'|transchoice(person.age) }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>{{ ('person.sex_list.' ~ person.sex|default(0))|trans }}</td>
                    <td>{{ person.company }}</td>
                    <td>{{ person.branchCompany }}</td>
                    <td class="text-right">
                        <a class="btn btn-primary btn-sm" href="{{ path('person_edit', { 'id': person.id }) }}">
                            {{ 'global.edit'|trans }}
                        </a>
                        {% for item in delete_form %}
                            {% if person.id == item.vars.name %}
                                {{ form_widget(attribute(delete_form, person.id),{'attr': {'class': 'btn btn-sm btn-danger'}}) }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_rest(delete_form) }}
        {{ form_end(delete_form) }}
        <div class="pagination-container">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}