{% extends '::layout.html.twig' %}

{% form_theme form 'AppBundle:Form:form_errors.html.twig' %}

{% block body %}
    <h3><span>{{ 'global.person_new'|trans }}</span></h3>
    {{ include('AppBundle:Person:form.html.twig', { 'person': person, 'form': form }) }}
{% endblock %}