body {
    margin-top: 100px;
    background-color: #222;
}

.inner-container {
    background-color: #fefefe;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    padding: 10px 20px 20px 20px;
}

h3 > span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.action-buttons {
    border-top: 1px solid #ddd;
    background-color: #e6e6e6;
    padding: 15px 20px;
}

.people-list, .person-form {
    padding: 0 25px 25px 25px;
}