{% if pageCount > 1 %}
    <div class="col-12 pagination">
        <div class="text-center mx-auto">
            {% if first is defined and current != first %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                    &lt;&lt;
                </a>
            {% endif %}
            {% if previous is defined %}
                <a class="btn btn-sm btn-outline-secondary"
                   href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
            {% endif %}
            {% for page in pagesInRange %}
                {% if page != current %}
                    <a class="btn btn-sm btn-outline-secondary"
                       href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% endfor %}
            {% if next is defined %}
                <a class="btn btn-sm btn-outline-secondary"
                   href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
            {% endif %}
            {% if last is defined and current != last %}
                <a class="btn btn-sm btn-outline-secondary"
                   href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
            {% endif %}
        </div>
    </div>
{% endif %}
